*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container > div{
    border: 1px solid black;
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);
}
.mesclar{
    grid-column: span 2;
}
.mesclar2{
    grid-row: span 2;
}